* {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #ABABAB;
}

.menu {
    width: 100%;
    height: 120px;
    background-color: #ABABAB;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 999;
}

.menu .menuInt {
    width: calc(100% - 100px);
    height: 70px;
    background-color: #fff;
    display: flex;

}

.menu .menuInt .menuFirst {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    height: 100%;
    transition: 0.3s;
    transition-delay: 0.2s;
    width: calc(50% - 225px);
    font-size: 1.5rem;
}

.menu .menuInt .menuFirst .option {
    text-decoration: none;
    color: black;
    height: 30px;
}

.menu .menuInt .menuSecond {
    width: calc(50% - 225px);
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu .menuInt .menuSecond .sale {
    margin-right: 80px;
}

.menu .menuInt .menuSecond .sale .cart img {
    width: 60px;
}

.menu .logo {
    flex: 1;
    display: flex;
    justify-content: center;
    /* pointer-events: none; */
}

.menu .logo .circle {
    width: 300px;
    height: 300px;
    background-color: #FE9903;
    border-radius: 100%;
    margin-top: -150px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 5px #ababab;
}




.menu .logo .circle .logoIcon {
    width: 120px;
    margin-top: 90px;
}

.banners {
    width: calc(100% - 100px);
    height: 1480px;
    margin: 0 50px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banners .banner1 {
    width: calc(100% - 160px);
    height: 346px;
    margin-top: 220px;
    background-image: url(../images/banner01.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banners .banner1 h1 {
    color: #FE9903;
    font-weight: 700;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    margin-left: 50px;
    margin-bottom: 0;
}

.banners .banner1 .actBtn {
    margin-top: 20px;
    margin-left: 50px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.banners .banner1 .actBtn .arrow {
    margin-right: 10px;
    height: 24px;
}

.banners .banner1 .actBtn .exploreBtn {
    width: 100px;
    border: 2px solid #FE9903;
    color: #FE9903;
    background-color: transparent;
    transition: 0.2s;
}

.banners .banner1 .actBtn:hover .exploreBtn {
    background-color: #FE9903;
    color: black;
}

.banners .banner2,
.banners .banner3 {
    margin-top: 30px;
    height: 346px;
    width: calc(100% - 160px);
    display: flex;
    justify-content: space-between;
}

.banners .banner2 .imgBanner2 {
    height: 346px;
}

.banners .banner2 .containerCollection {
    height: 346px;
    width: 470px;
    background-color: #FE9903;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banners .banner2 .containerCollection h1 {
    color: #fff;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
    font-family: "Oswald", sans-serif;
}

.banners .banner2 .containerCollection h2 {
    color: #fff;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 10px;
    font-family: "Oswald", sans-serif;
}

.banners .banner2 .actBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 280px;
}

.banners .banner2 .actBtn .arrow {
    margin-right: 10px;
    height: 24px;
}

.banners .banner2 .actBtn .collectionBtn {
    width: 150px;
    border: 2px solid #Fff;
    color: black;
    background-color: transparent;
    transition: 0.2s;
}

.banners .banner2 .actBtn:hover .collectionBtn {
    background-color: white;
    color: #FE9903;
}

.banners .banner3 .imgBanner2 {
    height: 346px;
}

.banners .banner3 .containerCollection {
    height: 346px;
    width: 470px;
    background-color: #F3F3F5;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.banners .banner3 .containerCollection h1 {
    color: #FE9903;
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 0;
    font-family: "Oswald", sans-serif;
}

.banners .banner3 .containerCollection h2 {
    color: #FE9903;
    font-weight: 700;
    font-size: 2rem;
    margin-top: 10px;
    font-family: "Oswald", sans-serif;
}

.banners .banner3 .actBtn {
    display: flex;
    align-items: center;
    cursor: pointer;
    width: 280px;
}

.banners .banner3 .actBtn .arrow {
    margin-right: 10px;
    height: 24px;
}

.banners .banner3 .actBtn .collectionBtn {
    width: 150px;
    border: 2px solid #FE9903;
    color: #FE9903;
    background-color: transparent;
    transition: 0.2s;
}

.banners .banner3 .actBtn:hover .collectionBtn {
    background-color: #FE9903;
    color: black;
}

.separation {
    width: 100%;
    height: 230px;
    background-image: url(../images/backgroundadvantage.png);
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.separation .containerCantages {
    width: calc(100% - 250px);
    height: 145px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.separation .containerCantages>div {
    height: 100%;
    width: 280px;
    background-color: #F3F3F5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.separation .containerCantages h1 {
    font-size: 1.4rem;
    margin-left: 10px;
}

.bestSellers {
    width: calc(100% - 100px);
    height: 230px;
    background-color: white;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.bestSellers .call {
    position: absolute;
    margin-left: -50px;
    left: 0;
    width: 420px;
    height: 100px;
    background-color: #FE9903;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.bestSellers .call h1 {
    font-family: "Oswald", sans-serif;
    font-size: 2.9rem;
}

.bestSellers .bestCall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 85px;
}

.bestSellers .bestCall h1 {
    font-family: "Oswald", sans-serif;
    color: #FE9903;
    font-size: 5em;

}

.bestSellers .bestCall .line {
    width: 200px;
    height: 5px;
    background-color: black;
    margin: 20px 0;
}

.bestSellers .bestCall .glassEnd {
    width: 230px;
}

.bestProducts {
    background-color: #D5D4D4;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bestProducts .container {
    padding-top: 40px;
}

.bestProducts .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.2s;
    box-shadow: 0px 0px 0px #ababab;
    margin-bottom: 20px;
}

.bestProducts .product:hover {
    box-shadow: 0px 0px 20px #ababab;
}

.bestProducts .product .photo {
    width: 100%;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.bestProducts .product .photo .photoint {
    width: 90%;
}

.bestProducts .product .name {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}

.bestProducts .product .stars {
    margin-bottom: 10px;
}

.bestProducts .product .stars .star {
    width: 20px;
}

.bestProducts .product .price {
    font-size: 1.4rem;
    text-align: center;
}

.firtPurchase .whitePart {
    width: calc(100% - 100px);
    height: 60px;
    background-color: white;
    margin: 0 50px;
}

.firtPurchase .callPurchase {
    width: 100%;
    height: 100px;
    background-color: #4B494A;
    display: flex;
    align-items: center;
    justify-content: center;
}

.firtPurchase .callPurchase h1 {
    color: white;
    font-family: "Oswald", sans-serif;
    font-size: 4rem;
    font-weight: 700;
}

.saleCall {
    width: calc(100% - 100px);
    height: 230px;
    background-color: white;
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 2;
}

.saleCall .call {
    position: absolute;
    margin-right: -50px;
    right: 0;
    width: 420px;
    height: 100px;
    background-color: #FE9903;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.saleCall .call h1 {
    font-family: "Oswald", sans-serif;
    font-size: 2.9rem;
    margin-left: 50px;
}

.saleCall .bestSale {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 85px;
}

.saleCall .bestSale h1 {
    font-family: "Oswald", sans-serif;
    color: #FE9903;
    font-size: 5em;

}

.saleCall .bestSale .line {
    width: 200px;
    height: 5px;
    background-color: black;
    margin: 20px 0;
}

.saleCall .bestSale .glassEnd {
    width: 230px;
}

.products {
    background-color: #D5D4D4;
    width: 100%;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products .container {
    padding-top: 40px;
}

.products .product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 40px;
    transition: 0.2s;
    box-shadow: 0px 0px 0px #ababab;
    margin-bottom: 20px;
}

.products .product:hover {
    box-shadow: 0px 0px 20px #ababab;
}

.products .product .photo {
    width: 100%;
    aspect-ratio: 1;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
}

.products .product .photo .photoint {
    width: 90%;
}

.products .product .name {
    font-size: 1.4rem;
    margin-top: 10px;
    text-align: center;
}

.products .product .stars {
    margin-bottom: 10px;
}

.products .product .stars .star {
    width: 20px;
}

.products .product .price {
    font-size: 1.4rem;
    text-align: center;
}

.space {
    width: calc(100% - 100px);
    height: 100px;
    background-color: white;
    margin: 0 50px;
}



.footer {
    width: 100%;
    background-image: url(../images/backgroundfoot.png);
    height: 200px;
    background-size: cover;
    background-position: center;
}

.footer .inside {
    width: calc(100% - 100px);
    margin: 0 50px;
    height: 100%;
    display: flex;
}

.footer .inside .connect {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer .inside .connect h1 {
    font-weight: 700;
    font-size: 4rem;
    font-family: "Oswald", sans-serif;
    color: white;
}

.footer .inside .connect .icons {
    display: flex;
}
.footer .inside .created {
    flex: 1;
    height: 100%;
    display: flex;
    align-items: end;
    justify-content: center;
    color: white;
}
.footer .inside .created h3{
    font-size: 1rem;
}
.footer .inside .connect .icons .icon img {
    height: 40px;
}
.footer .inside .connect .icons .email {
    margin: 0 15px;
}
.footer .inside .logo {
    flex: 1;
    width: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
}

.footer .inside .logo .circle {
    width: 250px;
    height: 250px;
    border-radius: 100%;
    background-color: #FE9903;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
}

.footer .inside .logo .circle img {
    width: 100px;
}